body {
    background-color: white;
}

table {
    padding: 5px
}

th {
    background-color: #ffffb3;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
}

td {
    background-color: #e6e6ff;
    font-size: 12px;
    font-family: sans-serif;
}

h4, div {
    font-family: sans-serif;
}

p, pre {
    background-color: white;
    font-size: 12px;
}

td>div { display: none; }
td:active>div { display: block; }

img {
    max-width: 80%;
    max-height: 50%;
}

input {
    background-color: #6699ff;
    border: 1px solid #4d88ff;
    color: white;
    padding: 3px 6px;
    text-decoration: none;
    cursor: pointer;
}

select {
    width: 50%;
    padding: 3px 6px;
    border: none;
    border-radius: 2px;
    background-color: #d9d9d9;
    color: #404040;
}
